

.MainHead {
 height: 50%;
 width: 100%;
 font-size: 5em;
 text-align: center;
 color: red;
}

.text {
 color: red;
 text-align: center;
 font-size: 2.5em;
}

* {
 background-image: url("http://wallpapercave.com/wp/KV8nmLN.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 height: 100%;
 width: 100%;
 top: 0%;
 right: 0%;
 bottom: 0%;
 left: 0%;
}
