
.MainHead {
 height: 50%;
 width: 100%;
 font-size: 50px;
 text-align: center;
 background-color: rgba(200, 17, 17, 0.8);
}

.BackgroundImage {
 position: fixed;
 height: 100%;
 width: 100%;
 left: -1%;
 right: 0%;
 top: -1%;
 bottom: 0%;
}
